/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/*beginning of marketing page css */
html{
	font-size:62.5%;
	font-family: 'Montserrat', sans-serif;
	background-color:#307672;
}

/*header area */
header{
	background-color:#1a3c40;
	padding:2%;
}

h1{
    font-size: 5rem;
	color:#307672;
	font-family: 'Kalam', cursive;
	margin:0 4%;
}
nav{
	display:flex;
	flex-direction: column;
	font-size:2rem;
	margin:2% 15%;
	text-align:center;
	
}
nav a{
	color:#e4eddb;
	text-decoration:none;
	border:2px solid #e4eddb;
	border-radius:10px;
	background-color:#144d53;
	margin: 1.5% 2%;
	padding:1.5%;
}
nav a:hover{
	background-color:#e4eddb;
	color:#144d53;
}

/*body area of marketing page */
.markBody{
	background-image: url("https://images.unsplash.com/photo-1518335935020-cfd6580c1ab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	
}
.markBody h2{
	font-size:3rem;
	color:#e4eddb;
	text-align:center;
	padding:2%;
	font-weight:bold;
}
.markBody img{
	width:80%;
	border-radius:10px;
	margin:2% 10%;
}
.markBody div{
	padding:1% 0;
}
.markBody p{
	padding:.5%;
	width:80%;
	margin:6% 10%;
	text-align: center;
	font-size:2rem;
	font-weight: bold;
	color: #e4eddb;
	line-height: 5rem;
	border:2px solid #e4eddb;
	background-color:#144d53;
	border-radius:10px;
}



/* footer area */
footer{
	padding:2%;
}

/* Body of the About page */
.aboutBody{
	Background-image: url("https://images.unsplash.com/photo-1527341944416-23e85b614715?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.title {
	
	text-align:center;
	font-weight:bold;
	padding:2%;
}
.aboutBody div{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	border:2px solid #e4eddb;
	margin:0 10% 2%;
	border-radius:10px;	
	padding:2%;
}
.aboutBody img{
	width:90%;
	margin:2% 5%;
	border-radius:10px;
}

.aboutBody h2{
	font-size:3rem;
	color: #e4eddb;
	text-align:center;
	margin:0 0 2%;
}
.aboutBody h3{
	font-size:1.8rem;
	color: #e4eddb;
	text-align:center;
}

/* media tags */
@media(min-width:700px){
	nav {
		display:flex;
		flex-direction:row;
		text-align:center;
		justify-content:flex-end;
		
	}
	.aboutBody div{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		width:20%;
	}
}